<!DOCTYPE html>
<html>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <h1>Weather Forecast</h1>
  <div id="app">
    <h2 v-if="city">Place: {{ city }}</h2>
    <input v-model="input" placeholder="Place" />
    <button v-on:click="submit">Enter</button>

    <div v-if="packing">
      <h3>Packing Information</h3>
      <div v-if="packing.rain">You should pack for <b>rain</b>.<br /></div>
      <div v-if="packing.cold">
        You should pack for <b>cold</b> weather.<br />
      </div>
      <div v-if="packing.warm">
        You should pack for <b>warm</b> weather.<br />
      </div>
      <div v-if="packing.hot">
        You should pack for <b>hot</b> weather.<br />
      </div>
    </div>

    <div v-if="days">
      <h3>5 Day Summary (3 Hour Intervals)</h3>
      <div v-for="day in days" v-bind:key="day.date">
        <table>
          <tr>
            <th>{{ day.date }}</th>
            <th>Temperature</th>
            <th>Rain</th>
            <th>Wind Speed</th>
          </tr>
          <tr v-for="hour in day.hours">
            <td>{{ hour.hour }}:00</td>
            <td>{{ hour.temperature }} °C</td>
            <td>{{ hour.rain }} mm/3h</td>
            <td>{{ hour.wind.speed }} km/h</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        city: undefined,
        packing: undefined,
        days: undefined,
        input: ""
      },
      methods: {
        submit: function() {
          this.packing = {};
          this.summary = {};
          this.city = this.input;
          var myHeaders = new Headers();
          myHeaders.append(
            "Access-Control-Allow-Origin",
            "http://localhost:3000"
          );

          var myInit = {
            method: "GET",
            headers: myHeaders,
            cache: "default",
            mode: "cors"
          };

          const packingUrl = "http://localhost:3000/getPacking/" + this.city;

          var packingRequest = new Request(packingUrl, myInit);

          fetch(packingRequest)
            .then(response => {
              return response.json();
            })
            .then(data => {
              this.packing = data;
            });

          const summaryUrl = "http://localhost:3000/getSummary/" + this.city;

          var summaryRequest = new Request(summaryUrl, myInit);
          fetch(summaryRequest)
            .then(response => {
              return response.json();
            })
            .then(data => {
              this.days = data;
            });
        }
      }
    });
  </script>
</html>
